NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key
TURNSTILE_SECRET_KEY=your_turnstile_secret_key
TICKET_STATUS_API_URL=https://www.zohoapis.eu/crm/v7/functions/your_function/actions/execute?auth_type=apikey&zapikey=your_key
